@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Chakma&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

.main-bg-gradient {
  background-color: #fff;
  background-image: var(--main-primary-gradient);
}
:root {
  --main-primary-gradient: linear-gradient(
    19deg,
    rgba(91, 200, 132, 1) 64%,
    rgba(237, 221, 83, 1) 100%
  );
  --main-secondary: oklch(0.8858 0.1554 102.67);
  /* Container */
  --container-bg: #fff;

  /* card */
  --card-bg: #fff;
  --card-rounded: 1.25rem;

  /* header */
  --header-bg: #fff;
  /* --header-text-color: var(--main-secondary);     */
  --header-font: "Noto Sans Chakma", sans-serif;
  --header-font-weight: 700;
  --header-font-size: 2rem;

  /* subheader */
}

